.join_wrap {
    width:1024px;
    height:1133px;
    margin:0 auto;
    position: relative;
    padding:21px 80px;
}
.join_wrap header {}
.join_wrap header a {}
.join_wrap header a img {}
.join_wrap .sns_join {}
.join_wrap .sns_join h1 {
    font-size:1.25rem;
    font-weight:600; letter-spacing:-0.02em;
}
.join_wrap .sns_join p {
    text-align: center;
    margin:14px 0;
    font-size:0.88rem;
    letter-spacing:-0.02em;
    color:#777;
}
.join_wrap .sns_join .sns {
    text-align:center;
    padding-bottom:14px;
}
.join_wrap .sns_join .sns a {}
.join_wrap .sns_join .sns a img {}
.join_wrap #joinFrm {
    width:360px;
    margin:0 auto;
}
.join_wrap .sns_join .sns_join hr {}
.join_wrap #joinFrm dl {
    margin:22px 0;
}
.join_wrap #joinFrm dl dt {
    margin:10px 0; font-size:1.06rem;
    font-weight:500; letter-spacing:-0.02em;
}
.join_wrap #joinFrm dl dd {
    margin:10px 0;
}
.join_wrap #joinFrm dl dd .email {float:left;}
.join_wrap #joinFrm dl dd .email input[name$=user_email] {
    width:170px; padding:10px; boder:1px solid #ddd;
    border-radius:3px; color:#bbb;
}
.join_wrap #joinFrm dl dd .email span {
    font-size:0.88rem;
    letter-spacing:-0.02em;
}
.join_wrap #joinFrm dl dd .email .select {}
.join_wrap #joinFrm dl dd .email .select select[name=mail_select] {
    background-image:url(../images/arrow_drop_down.png);
    background-position:right center;
    background-repeat:no-repeat;
    float:right; width:170px; padding:10px; border:1px solid #ddd;
    border-radius:3px; color:#bbb; 
}
.join_wrap #joinFrm dl dd .email .select select[name=mail_select] option {}
.join_wrap #joinFrm dl dd .email .email_btn {
    margin:10px 0; width:360px; padding:10px;
    padding:10px; border:1px solid #ddd;
    border-radius:3px; color:#777;  background-color:#f5f5f5;;
    font-weight:600; letter-spacing:-0.02em;
} 
.join_wrap #joinFrm dl dd  span {
    font-size:0.88rem;
    letter-spacing:-0.02em; color:#777;
}
.join_wrap #joinFrm dl dd input[name=user_pw] {
    margin:10px 0; width:360px; padding:10px;
    padding:10px; border:1px solid #ddd;
    border-radius:3px; color:#bbb;  
}
.join_wrap #joinFrm dl dd input[name=user_pw_ck] {
    width:360px; padding:10px;
    padding:10px; border:1px solid #ddd;
    border-radius:3px; color:#bbb; 
}
.join_wrap #joinFrm dl dd input[name=user_nickname] {
    width:360px; margin:10px 0;
    padding:10px; border:1px solid #ddd;
    border-radius:3px; color:#bbb; 
}
.join_wrap #joinFrm .agreement {}
.join_wrap #joinFrm .agreement dl {
    margin:22px 0;
}
.join_wrap #joinFrm .agreement dl dt {
    font-weight:500; font-size:1.06rem;
    letter-spacing:-0.02em; margin:10px 0;
}
.join_wrap #joinFrm .agreement dl dd {}
.join_wrap #joinFrm .agreement dl dd input[value*=agree]:checked+label{
    background-image:url(../images/check_box_y.png);
}
.join_wrap #joinFrm .agreement dl dd label {
    background-image:url(../images/check_box_outline_blank.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding:10px;
    display:inline-block;
    font-size:0.81rem; letter-spacing:-0.02em;
    margin:0 10px;
}
.join_wrap #joinFrm .agreement dl dd span {
    font-weight:600; color:#777;
    font-size:0.81rem; letter-spacing:-0.02em;
}
.join_wrap #joinFrm .agreement dl dd img {
    float: right; padding:0 10px;
}
.join_wrap #joinFrm .submit {
    padding:22px 0;
}
.join_wrap #joinFrm .submit .join_btn {
    background-color:#3292FF;
    width:360px; padding:10px;
    border-radius:3px; color:#fff;
}
.join_wrap .footer {
    text-align:center;
    margin-top:22px;
}
.join_wrap .footer span {
    letter-spacing:-0.02em;
}
.join_wrap .footer span a {
    font-size:0.88rem;
    font-weight:600;
}